{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ base_url }}/lightbox/src/css/lightbox.css">
{% endblock styles %}

{% block libs %}
    {{ super() }}
    <script src="{{ base_url }}/lightbox/src/js/lightbox.js"></script>
{% endblock libs %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            //event.preventDefault();
            //$(this).ekkoLightbox();
        });
    </script>
{% endblock scripts %}
